@using TChart.Models.Charts
@model TChart.Models.VisoesClienteViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clientes</title>
</head>
<body>

    <h1 style="text-align: center;">Lista de Clientes</h1>
    <br> <!-- Quebra de linha -->
    <form method="get" asp-action="Index"> 
        <label for="startDate">Data Inicial:</label> 
        <input type="date" id="startDate" name="startDate" /> 
        <label for="endDate">Data Final:</label> 
        <input type="date" id="endDate" name="endDate" /> <button type="submit">Buscar</button> 
    </form>
    <br> <!-- Quebra de linha -->
    <ejs-grid id="GridCliente" dataSource="@Model.Clientes" allowPaging="true">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    </ejs-grid>

    @{
        List<PieChartData> chartData = new List<PieChartData>();

        foreach (var item in Model.CategoriaCliente)
        {
            chartData.Add(new PieChartData { xValue = item.CategoriaFinan, yValue = item.Quantidade });
        }
    }

    <h1 style="text-align: center;">Clientes Categoria Financeira</h1>
    <br> <!-- Quebra de linha -->
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="flex: 1; margin-left: 10px;">
            <ejs-accumulationchart id="container">
                <e-accumulationchart-legendsettings visible="false">
                </e-accumulationchart-legendsettings>
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@chartData" xName="xValue" yName="yValue" name="Browser">
                    </e-accumulation-series>
                </e-accumulation-series-collection>
            </ejs-accumulationchart>
        </div>

        <div style="flex: 1; margin-right: 10px;">
            <ejs-grid id="GridCategoria" dataSource="@Model.CategoriaCliente" allowPaging="true">
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            </ejs-grid>
        </div>
    </div>

    <h1>Contagem de Clientes por Categoria Financeira</h1>
    <table>
        <thead>
            <tr>
                <th>Categoria Financeira</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CategoriaCliente)
            {
                <tr>
                    <td>@item.CategoriaFinan</td>
                    <td>@item.Quantidade</td>
                </tr>
            }
        </tbody>
    </table>

    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID Cliente</th>
                <th>Nome/Razão Social</th>
                <th>Apelido/Nome Fantasia</th>
                <th>Cliente Desde</th>
                <th>Categoria Financeira</th>
                <th>Cod Classificação Financeira</th>
                <th>Des Classificação Financeira</th>
                <th>Valor Limite</th>
                <th>Nome Responsável</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model.Clientes)
            {
                <tr>
                    <td>@cliente.IdCliente</td>
                    <td>@cliente.NomeRazaoSocial</td>
                    <td>@cliente.ApelidoNomeFantasia</td>
                    <td>@cliente.DtClienteDesde.ToString("dd/MM/yyyy")</td>
                    <td>@cliente.CategoriaFinan</td>
                    <td>@cliente.TpClassificacaoFinan</td>
                    <td>@cliente.DsClassificacaoFinan</td>                    
                    <td>@cliente.VlLimite</td>
                    <td>@cliente.NomeResponsavel</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
